<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS 예제</title>
  </head>
  <body>
    <h1>안녕하세요, <%=name %>님</h1>
    <p>나이 : <%= age %></p>
    <h2>보유 기술</h2>
    <ul>
      <% skills.forEach(skill => {%>
      <li><%= skill%></li>
      <% })%>
    </ul>
  </body>
</html>
